body {
  background: #000000 url(pexels.jpg) center/cover no-repeat;
  background-size: cover;
  background-position: fixed;
  animation: backgroundMove 1.5s ease-in-out forwards;
  background-color: rgb(0, 0, 0);
  }

@keyframes backgroundMove {
  0% {
    background-position: center bottom;
  }
  100% {
    background-position: center 29%;
  }
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgba(0, 176, 255, 0.4);
  color: #404040;
  font-size: 36px;
  border-radius: 50px 50px 0 0;
  margin-bottom: 20px;
  text-shadow: 2px 2px #000000;
  position: relative;
  font-family: 'Orbitron', sans-serif;
  }

header h1 {
  transform: rotate(-5deg);
}

nav {
  display: flex;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-left: 20px;
}

nav a {
  color: #487085;
  text-decoration: none;
  font-size: 14px;
  transform: rotate(5deg);
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  flex-direction: auto;
  height: auto;
}

@media (max-width: 767px) {
  main {
    flex-direction: column;
  }
  main section {
    width: auto;
    flex-direction: column;
  }
}
  

main section {
  flex-direction: auto;
  transition: all 1s ease;
  color: #000000;
  height: auto;
  padding: 20px;
}

main section:hover {
  background-color: rgba(64, 64, 64, 0.6);
  color: #CCCCCC;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(171, 228, 255, 0.627);
  color: #000000;
  font-size: 20px;
  font-family: 'Orbitron', sans-serif;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 5px 5px rgba(0, 176, 255, 0.25);
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 10px;
  width: 30%;
  position: relative;
  overflow: hidden;
}

p {
  text-align: center;
  font-weight: 540;
  margin-bottom: 5;
  margin-top: 5;
}

h2 {
  text-align: center;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 2.5;
}

section#bio h2,
section#bio p {
  transform: rotate(5deg);
}

section#project-ideas h2,
section#project-ideas p {
  transform: rotate(-5deg);
}

section#about-this-website h2,
section#about-this-website p {
  transform: rotate(5deg);
}

#bio, #project-ideas, #about-this-website {
  cursor: pointer;
}
footer {
  background-color: rgba(0, 176, 255, 0.25);
  color: #000000;
  font-size: 14px;
  padding: 20px;
  border-radius: 0 0 50px 50px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  }

footer p {
  transform: rotate(-5deg);
}

@keyframes wavy {
    0% {
    transform: rotate(2deg);
    }
    50% {
    transform: rotate(-2deg);
    }
    100% {
    transform: rotate(2deg);
    }
  }
@keyframes wavy1 {
    0% {
     transform: rotate(-2deg);
      }
      50% {
      transform: rotate(2deg);
      }
      100% {
      transform: rotate(-2deg);
      }
    }
    
    section{
    animation: wavy1 4.2s ease-in-out alternate infinite;
    }
    nav,
    header,
    footer {
    animation: wavy 4.2s ease-in-out alternate infinite;
    }