body {
  background-image: url(pexels.jpg);
  background-size: cover;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #00B0FF;
  color: #FFFFFF;
  font-size: 36px;
  border-radius: 50px 50px 0 0;
  margin-bottom: 20px;
  text-shadow: 2px 2px #333;
  position: relative;
}

header h1 {
  transform: rotate(-5deg);
}

nav {
  display: flex;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-left: 20px;
}

nav a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 18px;
  transform: rotate(5deg);
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

section {
  justify-content: space-between;
  background-color: #FFFFFF;
  color: #333;
  font-size: 18px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px #00B0FF;
  margin-bottom: 20px;
  width: 30%;
  position: relative;
  overflow: hidden;
}

section#bio h2,
section#bio p {
  transform: rotate(5deg);
}

section#project-ideas h2,
section#project-ideas p {
  transform: rotate(-5deg);
}

section#about-this-website h2,
section#about-this-website p {
  transform: rotate(5deg);
}

#bio, #project-ideas, #about-this-website {
  cursor: pointer;
}
footer {
  background-color: #333;
  color: #FFFFFF;
  font-size: 14px;
  padding: 20px;
  border-radius: 0 0 50px 50px;
  text-align: center;
  position: relative;
}

footer p {
  transform: rotate(-5deg);
}

@keyframes wavy {
    0% {
    transform: rotate(2deg);
    }
    50% {
    transform: rotate(-2deg);
    }
    100% {
    transform: rotate(2deg);
    }
    }
    
    header,
    nav,
    section,
    footer {
    animation: wavy 4s ease-in-out alternate infinite;
    }